:root {
  --primary-color: #033551;
  --secondary-color: #387a9e;
}

body {
  background-image: linear-gradient(
    0deg,
    #d8eeee,
    #d8eeee 25%,
    #64adc9 65%,
    #005986 90%,
    #005986
  );
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}
