.Weather {
  border-radius: 4px;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.Weather .btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.Weather ::placeholder {
  color: #fff;
  opacity: 0.8;
}

.Weather .form-control {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
}

.Weather h1 {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 600;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  top: 3px;
  position: relative;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
}

.Weather .unit {
  bottom: 34px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1;
  margin-left: 5px;
  position: relative;
}

.WeatherTemperature .temperature {
  margin-left: 10px;
}

@media screen and (max-width: 450px) {
  .Weather .temperature {
    font-size: 2rem;
    position: relative;
    bottom: 6px;
  }

  canvas {
    width: 32px;
    position: relative;
    margin-bottom: 8px;
  }

  .unit {
    position: relative;
    top: -16px;
  }
}
